<template>
  <div class="row justify-content-center">
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <h1>몸으로 말해요</h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "body"
}
</script>

<style scoped>

</style>