<template>
  <div class="row justify-content-center">
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <h1>브랜드 이름 말하기</h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "brand"
}
</script>

<style scoped>

</style>