<template>

  <div class="row justify-content-center">
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <h1>음악퀴즈</h1>
      </div>
    </section>
  </div>

</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "music"
}
</script>

<style scoped>

</style>