<template>
  <div class="row justify-content-center">
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <h1>리리 리자로 끝나는 말은?</h1>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "wordEndWith"
}
</script>

<style scoped>

</style>