<template>

  <div class="row justify-content-center">
    <section class="page-section portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">팀 생성</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"></div>
          <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">
          <div class="portfolio-item-caption align-items-center justify-content-center w-100">
            <span>{{ memberSituation }}</span>
            <div class="btn btn-info ml-10" @click="allClear()">초기화</div>
          </div>
          <div class="mb-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="R" checked v-model="teamType" @change="changeTeamType()">
              <label class="form-check-label" for="exampleRadios1">랜덤</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="F" v-model="teamType" @change="changeTeamType()">
              <label class="form-check-label" for="exampleRadios2">팀장 고정</label>
            </div>

            <div class="form-check form-check-inline">
              팀수: <input class="form-control mx-sm-2 w-20" type="text" name="teamCount" id="teamCount" v-model="teamCount" maxlength="1">
            </div>
            <div class="form-check form-check-inline ml-m-11">
              팀원수: <input class="form-control mx-sm-2 w-20" type="text" name="memCount" id="memCount" v-model="memCount" maxlength="1">
            </div>

            <div class="form-check form-check-inline ml-m-11">
              <div class="btn btn-info" @click="chooseTeamMasterStart();" v-if="teamType === 'F' && Boolean(chooseTeamMaster) === false">팀장 선택</div>
              <div class="btn btn-info" @click="chooseTeamMasterEnd();" v-if="teamType === 'F' && Boolean(chooseTeamMaster) === true">팀장 선택 완료</div>
              <div class="btn btn-info ml-10" v-if="hiddenTeam" @click="hiddenTeam = !hiddenTeam">보이기</div>
              <div class="btn btn-info ml-10" v-if="!hiddenTeam" @click="hiddenTeam = !hiddenTeam">가리기</div>
              <div class="btn btn-info ml-10" @click="shuffle()">섞기</div>
              <div class="btn btn-info ml-10" @click="saveTeam()">저장</div>
            </div>
          </div>

          <div v-if="Boolean(chooseTeamMaster) === true">
            <span v-for="(item, index) in selectedMembers" :key="index">
                <div :class="getMasterBtnClass(item)" @click="flagTeamMaster(item)" v-if="item.position && Boolean(item.flag) === true"><b>{{ item.position }}</b><br>{{ item.name }}</div>
                <div :class="getMasterBtnClass(item)" @click="flagTeamMaster(item)" v-if="!item.position && Boolean(item.flag) === true"><br>{{ item.name }}</div>
            </span>
          </div>

          <div v-if="teamCount > 0 && Boolean(chooseTeamMaster) === false">
            <div v-if="teamType === 'R'">
              <div class="row mt-10">
                <div class="col-2 mt-20" v-for="(index) in teamCount" :key="index">
                  <dragables :list="getList(index)" :hidden="hiddenTeam" />
                </div>
              </div>
            </div>
            <div v-if="teamType === 'F'">
              <div class="row mt-10">
                <div class="col-2 list-group mt-20" v-for="(index) in teamCount" :key="index">
                  <div
                      class="list-group-item"
                      v-for="(element, index) in getMasterList(index)"
                      :key="index"
                  >
                    {{ element.name }}
                  </div>
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-2 mt-20" v-for="(index) in teamCount" :key="index">
                  <dragables :list="getList(index, 'master')" :hidden="hiddenTeam" />
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>

    </section>
  </div>

</template>

<script>

import members from "@/assets/data/member.json";
import { clearStorage, setMembers, getMembers, setTeams, getTeams, setTeamCount, getTeamCount, setTeamType, getTeamType, setTeamMaster, getTeamMaster } from '@/components/module/common.js'
import dragables from "@/components/makeTeam/dragables";

export default {
  name: "makeTeam",
  components: {
    dragables
  },
  data() {
    return {
      members,
      selectedMembers: [...members],
      memberSituation: '선택 인원 : 0명',
      defaultTeamCount: 6,
      teamCount: 0,
      memCount: 5,
      teamType: 'R',
      chooseTeamMaster: false,
      master: [],
      hiddenTeam: false,
      teamMaster: {
        team1: [],
        team2: [],
        team3: [],
        team4: [],
        team5: [],
        team6: [],
        team7: [],
        team8: [],
        team9: []
      },
      team: {
        team1: [],
        team2: [],
        team3: [],
        team4: [],
        team5: [],
        team6: [],
        team7: [],
        team8: [],
        team9: []
      }
    }
  },
  methods: {
    flagTeamMaster(item) {
      const vm = this;
      if (vm.master.length <= vm.teamCount) {
        item.master = !item.master;
        vm.master.push(item);
      }
    },
    chooseTeamMasterStart() {
      const vm = this;
      vm.chooseTeamMaster = true;
      vm.selectedMembers.map(item => item.master = false);
    },
    chooseTeamMasterEnd() {
      const vm = this;
      if (vm.master.length !== vm.teamCount) {
        alert('팀장을 선택해주세요.');
      } else {
        const master = {
          team1: [{...vm.master[0]}],
          team2: [{...vm.master[1]}],
          team3: [{...vm.master[2]}],
          team4: [{...vm.master[3]}],
          team5: [{...vm.master[4]}],
          team6: [{...vm.master[5]}],
          team7: [{...vm.master[6]}],
          team8: [{...vm.master[7]}],
          team9: [{...vm.master[8]}]
        };
        vm.updateTeamMaster(master);
        setTeamMaster(master);
        setTeamType(vm.teamType);

        vm.selectedMembers.map(item => {
          let condition = master.team1.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team2.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team3.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team4.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team5.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team6.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team7.filter(mItem => mItem.name === item.name).length > 0
                      ||  master.team8.filter(mItem => mItem.name === item.name).length > 0;
          if (
              condition
          ) {
            item.master = true;
          }
        });
        setMembers(vm.selectedMembers);
        location.reload();
      }
    },
    getMasterBtnClass(item) {
      if (Boolean(item.master) === true) {
        return 'btn btn-primary m-10';
      } else {
        return 'btn btn-danger m-10';
      }
    },
    clearMemberSituation(members) {
      const vm = this;
      let size = members.filter((item) => Boolean(item.flag) === true).length;
      vm.memberSituation = '선택 인원 : ' + size + '명';
    },
    clearTeam() {
      const vm = this;
      vm.team.team1 = [];
      vm.team.team2 = [];
      vm.team.team3 = [];
      vm.team.team4 = [];
      vm.team.team5 = [];
      vm.team.team6 = [];
      vm.team.team7 = [];
      vm.team.team8 = [];
      vm.team.team9 = [];
    },
    shuffle() {
      const vm = this;
      const saveTeamCount = getTeamCount();
      setTeamCount(vm.teamCount);
      if (saveTeamCount !== null && !isNaN(saveTeamCount) && vm.teamCount != Number(saveTeamCount)) {
        location.reload();
      } else {
        let array = [];
        if (vm.teamType === 'R') {
          array = [...vm.selectedMembers.filter((item) => Boolean(item.flag) === true)];
        } else {
          array = [...vm.selectedMembers.filter((item) => Boolean(item.flag) === true && Boolean(item.master) === false)];
        }
        vm.clearTeam();
        array = array.sort(() => Math.random() - 0.5);
        vm.division(array);
      }
    },
    division(arr) {
      const vm = this;
      const memCount = vm.memCount;

      for (let i = 0; i < vm.teamCount; i++) {
        if (i === 0) vm.team.team1 = arr.splice(0, memCount);
        if (i === 1) vm.team.team2 = arr.splice(0, memCount);
        if (i === 2) vm.team.team3 = arr.splice(0, memCount);
        if (i === 3) vm.team.team4 = arr.splice(0, memCount);
        if (i === 4) vm.team.team5 = arr.splice(0, memCount);
        if (i === 5) vm.team.team6 = arr.splice(0, memCount);
        if (i === 6) vm.team.team7 = arr.splice(0, memCount);
        if (i === 7) vm.team.team8 = arr.splice(0, memCount);
        if (i === 8) vm.team.team9 = arr.splice(0, memCount);
      }
    },
    getList(index, master) {
      const vm = this;
      if (master === 'master') {
        if (index === 1) return vm.team.team1.filter((item) => Boolean(item.master) === false);
        if (index === 2) return vm.team.team2.filter((item) => Boolean(item.master) === false);
        if (index === 3) return vm.team.team3.filter((item) => Boolean(item.master) === false);
        if (index === 4) return vm.team.team4.filter((item) => Boolean(item.master) === false);
        if (index === 5) return vm.team.team5.filter((item) => Boolean(item.master) === false);
        if (index === 6) return vm.team.team6.filter((item) => Boolean(item.master) === false);
        if (index === 7) return vm.team.team7.filter((item) => Boolean(item.master) === false);
        if (index === 8) return vm.team.team8.filter((item) => Boolean(item.master) === false);
        if (index === 9) return vm.team.team9.filter((item) => Boolean(item.master) === false);
      } else {
        if (index === 1) return vm.team.team1;
        if (index === 2) return vm.team.team2;
        if (index === 3) return vm.team.team3;
        if (index === 4) return vm.team.team4;
        if (index === 5) return vm.team.team5;
        if (index === 6) return vm.team.team6;
        if (index === 7) return vm.team.team7;
        if (index === 8) return vm.team.team8;
        if (index === 9) return vm.team.team9;
      }
    },
    saveTeam() {
      const vm = this;
      setTeamType(vm.teamType);
      if (vm.teamType === 'R') {
        setTeams(vm.team);
      } else {
        const teamMaster = {...vm.teamMaster};
        const team = {...vm.team};
        let newTeam = [
          {...teamMaster.team1, ...team.team1},
          {...teamMaster.team2, ...team.team2},
          {...teamMaster.team3, ...team.team3},
          {...teamMaster.team4, ...team.team4},
          {...teamMaster.team5, ...team.team5},
          {...teamMaster.team6, ...team.team6},
          {...teamMaster.team7, ...team.team7},
          {...teamMaster.team8, ...team.team8},
          {...teamMaster.team9, ...team.team9}
        ];
        setTeams(newTeam);
      }
    },
    checkSaveTeam() {
      const vm = this;
      const saveTeams = getTeams();
      if (saveTeams !== null) {
        const saveTeamsCopy = {...saveTeams};
        vm.clearTeam();
        vm.team = saveTeamsCopy;
      } else {
        vm.shuffle();
      }
    },
    changeTeamType() {
      const vm = this;
      vm.shuffle();
    },
    getMasterList(index) {
      const vm = this;
      if (index === 1) return vm.teamMaster.team1;
      if (index === 2) return vm.teamMaster.team2;
      if (index === 3) return vm.teamMaster.team3;
      if (index === 4) return vm.teamMaster.team4;
      if (index === 5) return vm.teamMaster.team5;
      if (index === 6) return vm.teamMaster.team6;
      if (index === 7) return vm.teamMaster.team7;
      if (index === 8) return vm.teamMaster.team8;
      if (index === 9) return vm.teamMaster.team9;
    },
    checkTeamMasterIsMaster(isAdded, member) {
      const vm = this;
      let newTeamMaster1 = vm.teamMaster.team1.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster2 = vm.teamMaster.team2.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster3 = vm.teamMaster.team3.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster4 = vm.teamMaster.team4.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster5 = vm.teamMaster.team5.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster6 = vm.teamMaster.team6.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster7 = vm.teamMaster.team7.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster8 = vm.teamMaster.team8.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeamMaster9 = vm.teamMaster.team9.map((item) => {
        if (item.name === member.name) {
         item.master = Boolean(isAdded);
        }
        return item;
      });
      vm.updateTeamMaster({
        team1: [...newTeamMaster1],
        team2: [...newTeamMaster2],
        team3: [...newTeamMaster3],
        team4: [...newTeamMaster4],
        team5: [...newTeamMaster5],
        team6: [...newTeamMaster6],
        team7: [...newTeamMaster7],
        team8: [...newTeamMaster8],
        team9: [...newTeamMaster9]
      });
    },
    checkTeamIsMaster(isAdded, member) {
      const vm = this;
      let newTeam1 = vm.team.team1.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam2 = vm.team.team2.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam3 = vm.team.team3.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam4 = vm.team.team4.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam5 = vm.team.team5.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam6 = vm.team.team6.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam7 = vm.team.team7.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam8 = vm.team.team8.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      let newTeam9 = vm.team.team9.map((item) => {
        if (item.name === member.name) {
          item.master = Boolean(isAdded);
        }
        return item;
      });
      vm.updateTeam({
        team1: [...newTeam1],
        team2: [...newTeam2],
        team3: [...newTeam3],
        team4: [...newTeam4],
        team5: [...newTeam5],
        team6: [...newTeam6],
        team7: [...newTeam7],
        team8: [...newTeam8],
        team9: [...newTeam9]
      });
    },
    updateTeamMaster(teamMaster) {
      const vm = this;
      this.datas = Object.assign(
          {}, // 빈 객체를 선언 함으로써, 새로운 메모리 위치로 재정의
          vm.teamMaster, // 수정하려는 객체
          teamMaster // 삽입하려는 내용
      )
    },
    updateTeam(team) {
      const vm = this;
      this.datas = Object.assign(
          {}, // 빈 객체를 선언 함으로써, 새로운 메모리 위치로 재정의
          vm.team, // 수정하려는 객체
          team // 삽입하려는 내용
      )
    },
    allClear() {
      clearStorage();
      location.reload();
    }
  },
  created() {
    const vm = this;

    const saveTeamCount = getTeamCount();
    if (saveTeamCount !== null && !isNaN(saveTeamCount)) {
      vm.teamCount = Number(saveTeamCount);
    } else {
      vm.teamCount = vm.defaultTeamCount;
    }

    const saveMembers = getMembers();
    if (saveMembers !== null && saveMembers.length > 0) {
      vm.selectedMembers = [...saveMembers];
      vm.clearMemberSituation(vm.selectedMembers);
    }

    const saveTeamType = getTeamType();
    if (saveTeamType !== null && saveTeamType.length > 0) {
      vm.teamType = saveTeamType;
    }

    const saveTeamMaster = getTeamMaster();
    if (saveTeamMaster !== null) {
      vm.teamMaster = {...saveTeamMaster};
    }

    vm.checkSaveTeam();
  }
}
</script>

<style scoped>

.w-20 {
  width: 20%;
}
.ml-m-11 {
  margin-left: -11rem;
}

</style>