<template>

  <div class="row justify-content-center">
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">번호 생성</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <span>{{ memberSituation }}</span>
        <div class="btn btn-info ml-10" @click="shuffle()">섞기</div>
        <div class="btn btn-info ml-10" @click="save()">저장</div>
        <div>
          <div style="width: 13%; float: left;">
            <tables :list="numbersForTable.table1" />
          </div>
          <div style="width: 13%; float: left;">
            <tables :list="numbersForTable.table2" />
          </div>
          <div style="width: 13%; float: left;">
            <tables :list="numbersForTable.table3" />
          </div>
          <div style="width: 13%; float: left;">
            <tables :list="numbersForTable.table4" />
          </div>
          <div style="width: 13%; float: left;">
            <tables :list="numbersForTable.table5" />
          </div>
        </div>
      </div>
    </section>
  </div>

</template>

<script>

import { getMembers, setNumbers } from '@/components/module/common.js'
import tables from "@/components/makeNumber/tables";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "makeNumber",
  components: {
    tables
  },
  data() {
    return {
      selectedMembers: [],
      memberSituation: '선택 인원 : 0명',
      randomNumbers: [],
      numbersForTable: {
        table1: [],
        table2: [],
        table3: [],
        table4: [],
        table5: []
      }
    }
  },
  methods: {
    shuffle() {
      const vm = this;
      let numbers = vm.randomNumbers.sort(() => Math.random() - 0.5);
      let result = [];

      vm.selectedMembers.map((item, index) =>{
        result.push({number: numbers[index], name: item.name});
      });

      vm.numbersForTable = {
        ...vm.numbersForTable,
        table1: result.splice(0, 8),
        table2: result.splice(0, 8),
        table3: result.splice(0, 8),
        table4: result.splice(0, 8),
        table5: result.splice(0, 8),
      };

    },
    save() {
      const vm = this;
      setNumbers(vm.numbersForTable);
    }
  },
  created() {
    const vm = this;

    const saveMembers = getMembers();
    if (saveMembers !== null && saveMembers.length > 0) {
      let selectedMembers = saveMembers.filter((item) => Boolean(item.flag) === true);
      vm.selectedMembers = [...selectedMembers];

      vm.memberSituation = '선택 인원 : ' + selectedMembers.length + '명';

      vm.randomNumbers = [];
      for (let i = 0; i < vm.selectedMembers.length; i++) {
        vm.randomNumbers.push(i+1);
      }

      vm.shuffle();
    }

    const saveNumbers = JSON.parse(localStorage.getItem('numbers'));
    if (saveNumbers != null) {
      vm.numbersForTable = {
        ...vm.numbersForTable,
        table1: saveNumbers.table1,
        table2: saveNumbers.table2,
        table3: saveNumbers.table3,
        table4: saveNumbers.table4,
        table5: saveNumbers.table5,
      };
    }
  }
}
</script>

<style scoped>

</style>