<template>

  <div class="row justify-content-center">
    <section class="page-section portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">참석 인원 점검</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"></div>
          <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-center">
          <div class="portfolio-item-caption align-items-center justify-content-center w-100">
            <span>{{ memberSituation }}</span>
            <div class="btn btn-info ml-10" @click="allClear()">초기화</div>
            <div class="mt-10">
                <span v-for="(item, index) in selectedMembers" :key="index">
                  <div :class="getBtnClass(item)" @click="flagMember(item)" v-if="item.position"><b>{{ item.position }}</b><br>{{ item.name }}</div>
                  <div :class="getBtnClass(item)" @click="flagMember(item)" v-if="!item.position"><br>{{ item.name }}</div>
                </span>
            </div>
          </div>
        </div>
        <div class="row page-section float-end">
          <div class="portfolio-item-caption align-items-center justify-content-center w-100">
            <div class="btn btn-info btn-xl" @click="save()">저장</div>
          </div>
        </div>

      </div>
    </section>
  </div>

</template>

<script>

import members from "@/assets/data/member.json";
import { clearStorage, setMembers, getMembers } from '@/components/module/common.js'

export default {
  name: "makeMember",
  data() {
    return {
      members,
      selectedMembers: [...members],
      memberSituation: '선택 인원 : 0명'
    }
  },
  methods: {
    allClear() {
      clearStorage();
      location.reload();
    },
    getBtnClass(item) {
      if (Boolean(item.flag) === true) {
        return 'btn btn-primary m-10';
      } else {
        return 'btn btn-danger m-10';
      }
    },
    flagMember(item) {
      item.flag = !item.flag;
    },
    clearMemberSituation(members) {
      const vm = this;
      let size = members.filter((item) => Boolean(item.flag) === true).length;
      vm.memberSituation = '선택 인원 : ' + size + '명';
    },
    save() {
      const vm = this;
      clearStorage();
      setMembers(vm.selectedMembers);
      vm.clearMemberSituation(vm.selectedMembers);
      location.reload();
    },
  },
  created() {
    const vm = this;
    const saveMembers = getMembers();
    if (saveMembers !== null && saveMembers.length > 0) {
      vm.selectedMembers = [...saveMembers];
      vm.clearMemberSituation(vm.selectedMembers);
    }
  }
}
</script>

<style scoped>

</style>