<template>

    <div class="row justify-content-center">
      <section class="page-section portfolio" id="portfolio">
        <div class="container">
          <!-- Portfolio Section Heading-->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">게임 선택</h2>
          <!-- Icon Divider-->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"></div>
            <div class="divider-custom-line"></div>
          </div>
          <!-- Portfolio Grid Items-->
          <div class="row justify-content-center">
            <div v-for="(item, index) in gameImages" :key="index" class="col-md-6 col-lg-3 mb-5">
              <div class="portfolio-item mx-auto _img-div" @click="move(item.link)">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white"></div>
                </div>
                <img class="img-fluid" :src="item.src" alt="..." v-if="item.src">
              </div>
            </div>

          </div>
        </div>
      </section>
    </div>

</template>

<script>

export default {
  name: "selectGame",
  data () {
    return {
      gameImages: [
        {link: '/game/personal', src: require('@/assets/img/quizBanner/person.png')},
        {link: '/game/music', src: require('@/assets/img/quizBanner/music.png')},
        {link: '/game/keep', src: require('@/assets/img/quizBanner/keep_talking.png')},
        {link: '/game/brand', src: require('@/assets/img/quizBanner/brand_name.png')},
        {link: '/game/wordEndWith', src: require('@/assets/img/quizBanner/word_end_with.png')},
        {link: '/game/inital', src: require('@/assets/img/quizBanner/initial_game.png')},
        {link: '/game/body', src: require('@/assets/img/quizBanner/body_talking.png')},
        {link: '', src: ''}, // 간격맞추기 위해 추가
        {link: '', src: ''} // 간격맞추기 위해 추가
      ]
    }
  },
  methods: {
    move (url) {
      const vm = this
      vm.$router.push(url);
    }
  },

}
</script>

<style scoped>
._img-div {
  width: 300px;
}
</style>