<template>

  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" @click="move('main')">워크샵</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li v-for="(detail, index) in menuList" :key="index" class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded" href="javascript:void(0)" @click="move(detail.url)">{{ detail.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</template>

<script>

import {movePageByName} from "@/components/module/common";

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "Gnb",
  data () {
    return {
      menuList : [
        {name: '인원 생성', url: 'makeMember'},
        {name: '팀 생성', url: 'makeTeam'},
        {name: '번호 생성', url: 'makeNumber'},
        {name: '게임 선택', url: 'selectGame'}
      ]
    }
  },
  methods: {
    move (url) {
      movePageByName(url);
    }
  },
  created() {
  }

}
</script>

<style scoped>

</style>