<template>

  <draggable class="list-group" :list="list" group="people">
    <div
        :class="getClass()"
        v-for="(element, index) in list"
        :key="index"
    >
      {{ element.name }}
    </div>
  </draggable>

</template>

<script>

import draggable from 'vuedraggable'

export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "draggables",
  components: {
    draggable
  },
  props: ['list', 'hidden'],
  methods: {
    getClass() {
      const vm = this;
      if (Boolean(vm.hidden) === true) {
        return 'list-group-item _hidden';
      } else {
        return 'list-group-item';
      }
    }
  },
  created() {
  }

}
</script>

<style scoped>
  ._hidden {
    color: white;
  }
</style>