<template>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">이름</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item, index) in list" :key="index">
      <th scope="row">{{ item.number }}</th>
      <td>{{ item.name }}</td>
    </tr>
    </tbody>
  </table>

</template>

<script>
export default {
  // eslint-disable-next-line vue/multi-word-component-names
  name: "tables",
  props: ['list']
}
</script>

<style scoped>

</style>