<template>

  <div id="wrap">
    <div class="cursor"></div>

    <div id="header">
      <div id="gnb">
        <Gnb />
      </div>
    </div>

    <div id="container" class="mt-30">
      <div id="contents">
        <router-view :key="$route.fullPath" />
      </div>
    </div>

    <div id="footer"></div>
  </div>

</template>

<script>

import Gnb from "@/components/layout/Gnb";

export default {
  name: 'App',
  components: {
    Gnb
  },
  data () {
    return {}
  },
  methods: {

  },
  created() {
  }
}
</script>

<style>
@import url('@/assets/css/cursor.css');
@import url('@/assets/css/styles.css');
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
._page-section {
  padding: 3rem 0;
}
.m-10 {
  margin: 5px 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
</style>
